<fieldset ng-form="checkbox" class="standard" >

    <legend>{{question.description}}</legend>
    <md-button class="md-fab md-mini md-warn" ng-click="remove(question, index)" >X</md-button>

    <div ng-repeat="option in question.choices">
        <md-checkbox>
            {{option}}
        </md-checkbox>

    </div>

    <ng-input-container ng-hide="hide"><label>Enter a choice: </label>
        <input ng-model="option" required/>
    </ng-input-container>
    <md-button data-ng-click="add(question, option);hide=false" data-ng-disabled="checkbox.$invalid">Add</md-button>
    <md-button data-ng-click="hide=true">Done</md-button>
</fieldset>